{% extends 'main/base.html' %}
{% load static %}

{% block title %}New Post{% endblock %}

{% block content %}
<div class="container text-center">
    <h1
        class="f-ubuntu mt-5 mb-4 pt-5 lighttitle {% if 'mode' in request.COOKIES and request.COOKIES.mode == 'dark' %} darktitle {% endif %}">
        New Post: </h1>
    <div class="row row-cols-1 row-cols-md-2 justify-content-center">
        <div class="col shadow rounded-5 py-3 px-4 opacity-90 bg-white">
            <form class="form-floating d-flex flex-column gap-2 mt-3 px-2 needs-validation"
                action="{% url 'post:newPostView' %}" method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                <span class="material-symbols-outlined rounded-pill p-2 writeicon">
                    history_edu
                </span>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control f-ubuntu" placeholder="Title.." name="title"
                        id="floatingTitle" required minlength="2" maxlength="512">
                    <label for="floatingTitle" class="f-ubuntu">Title</label>
                    <div class="invalid-feedback">
                        Please enter a valid name.
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <textarea class="form-control f-ubuntu" placeholder="Whats on you mind?.." name="content"
                        id="floatingContent" style="height: 100px" required></textarea>
                    <label for="floatingContent" class="f-ubuntu">Content</label>
                    <div class="invalid-feedback">
                        Please provide valid content.
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <select class="form-select focus-ring focus-ring-secondary" id="floatingSelect" name="category" required>
                        <option selected disabled value="">Choose..</option>
                        {% for value, label in categories %}
                        <option value="{{value}}">{{label}}</option>
                        {% endfor %}
                    </select>
                    <label for="floatingSelect">Category</label>
                    <div class="invalid-feedback">
                        Please select a valid category.
                    </div>
                </div>
                <div class="mb-3 text-start f-ubuntu">
                    <label for="formFile" class="form-label">Upload a picture (optional)</label>
                    <input class="form-control border-2 focus-ring focus-ring-secondary" type="file" name="picture"
                        id="formFile" accept="image/*">
                </div>
                <button class="btn btn-outline-secondary border-2" type="submit">Publish</button>
            </form>
        </div>
    </div>
</div>

<script>
    (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    })()
</script>
{% endblock %}