{% extends 'main/base.html' %}

{% load static %}

{% block title %}Add a New Post{% endblock %}

{% block content %}
<div class="myhero-background-decoration width-100">
    <div class="myhero-content-container container">
        <h1 class="pt-5">Add a New Post</h1>
        <form action="{% url 'main:add_view' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row d-flex flex-column container">
                <input class="form-control col-lg-5 my-2" placeholder="Title" type="text" name="title" />
                <textarea class="form-control col-lg-5 my-2" placeholder="Content" name="content"></textarea>
                <div class="form-check my-2"> <!-- start of is_published -->
                    <input class="form-check-input" type="checkbox" value="1" id="flexCheckIndeterminate" name="is_published">
                    <label class="form-check-label" for="flexCheckIndeterminate">
                      Is it published
                    </label>
                </div> <!-- end of is_published -->
                <input class="form-control" type="file" name="image">
                <input class="col-lg-5 my-2 btn-primary rounded-3" type="submit" value="Create post"/>
            </div>
        </form>
    </div>
</div>
{% endblock %}