{% extends 'main/base.html' %}

{% load static %}

{% block title %}New Post{%endblock %}

{% block content %}


<!-- New Post Form -->
<div class="form-section">
  <h2>New Post</h2>
  <form class="form" action="{% url 'main:new_posts_view'%}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" class="form-input" />
    <label for="main-photo">Main Photo:</label>

    <div class="file-upload">
      <input type="file" id="main_photo" name="main_photo" class="file-input" accept="images/*"/> <!-- exaption to only exapt image(search more) -->
      <span class="material-symbols-outlined upload-icon">upload</span>
    </div>

    <div>
      <label for="category">Category:</label>
        <select name="category" id="category" class="form-input">
          <option value="TECH">Technology</option>
          <option value="BUS">Business</option>
          <option value="LIFE">Lifestyle</option>
          <option value="EDU">Education</option>
          <option value="HEALTH">Health</option>
          <option value="ENT">Entertainment</option>
        </select>
    </div>

    <label for="content">Content:</label>
    <textarea id="content" name="content" class="form-textarea"></textarea>

    <button type="submit" class="submit-button">Publish</button>  <!-- After Sub Show new page or send the user to home -->
  </form>
</div>

{% endblock %}
