{% extends "main/base.html" %}

{% load static %}


{% block title %}Add New Post - My Blog{% endblock %}

{% block content %}
<main class="post-container">
    <article class="post">
        <h1>{{ post.titel }}</h1>
        <div class="post-meta">
            <span>{{published_at}}</span>
        </div>
       
        <div class="post-image">
            <img src="{{ post.poster.url }}" alt="Post Image"><br><br>
           
        </div>
        <p class="post-content">
            {{ post.contant }}
        </p><br><br>

        <div class="d-flex justify-content-end">
            <a href="{% url 'main:post_update' post.id %}" class="btn btn-primary" style="background-color: rgb(1, 97, 56); color: white; text-decoration: none;">update</a>
            <a href="{% url 'main:post_delete' post.id %}" class="btn btn-primary" style="background-color: darkred; color: white; text-decoration: none;">delete</a>
        </div>
    </article>
</main>
</body>
</html>


{% endblock %}
