{% extends 'main/base.html' %}

{% load static %}

{% block title %}Post Details{% endblock %}

{% block content %}
<h1 class="detail-title">{{ post.title }}</h1>

<div class="detail-post-container">
    <div class="detail-post-body">
        <img src="{{ post.main_photo.url }}" alt="{{ post.title }}" class="detail-img"/>

        <div class="date-catg-container">
            <p class="detail-article-date">{{ post.published_at }}</p>
            <p class="detail-article-category">{{ post.get_category_display }}</p> 
        </div>
        <div><p class="detail-article-content">{{ post.content }}</p></div>
        
    </div>
    
    <div class="button-container">
        <a href="{% url 'main:post_update_view' post.id %}" class="btn btn-primary">Update</a>
        <a href="{% url 'main:post_delete_view' post.id %}" class="btn btn-danger">Delete</a>
    </div>
</div>

{% endblock %}
