
* {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 4rem;
    
}
h1, h2 {
    font-family: "Bungee", sans-serif;
}

.navbar-brand h2 {
    font-family: "Odibee Sans", sans-serif;
}

body {
    min-height: 100vh;
}

body.dark  {
    background-color: rgb(40, 40, 40);
    color: rgb(220, 220, 220);
}

body.dark h1, body.dark h2, body.dark h3 {
    color:rgb(255, 179, 0);
} 


body.dark hr {
    background-color: rgb(115, 115, 115);
}

.odibee-sans-regular {
    font-family: "Odibee Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


.bungee-regular {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


p {
    white-space:pre-line;
}

hr {
    opacity: 1;
    height: 1rem;
    border: none;
    background-color: rgb(230, 230, 230);
    transform: skewX(-20deg);
}

.top-logo {
    font-size: 2.2rem;
    color: rgb(255, 179, 0);
    transform: skewX(-20deg);
    transition: all 0.2s ease-in;
}

.top-logo:hover {
    transform: translate(5%, -5%) skewX(-20deg);
    text-shadow: -0.2rem 0.1rem 0px rgb(255, 9, 194);
}

.hero {
    transform: skewX(-20deg);
    transition: all 0.3s ease-in;
}



.hero  {

    background-color: rgb(255, 9, 194);
    padding-left: 4rem;
}

.hero:hover  {
    
}

.hero-row {
}

.vid-container video {
    height: 100%;
    max-height: 50vh;
    margin-left: 0.4rem;
}

input[type="search"]{
    border-radius: 0px !important;
    transform: skew(-10deg);
}


.top-nav span {
    padding:0.2rem;

}

.top-nav .active-icon {
    background-color: white;
    border-radius: 50%;
    color:black;
}



.top-nav a {
    padding: 0px !important;
}


@media only screen and (max-width:800px)  {
    .hero {
        transform: skewX(0deg);
        transition: all 0.3s ease-in;
    }
}