{% extends 'main/base.html' %}

{% block title %} {{blog.title}} Blog {% endblock %}

{% block content %}

<div class="wrapper">
    <div class="main_blog_page">
        <img src="{{blog.poster.url}}" style="width: 100%; margin-top:1rem; border-radius: 10px;"/>
        <a href="" class="phudu">Update</a>
        <h3 class="phudu">{{blog.title}}</h3>
        {% if blog.is_published %}
            <p>{{blog.content}}</p>
            <h5>Published at {{ blog.published_at }}</h5>
        {% else %}
            <h5>Not published yet.</h5>
        {%endif %}
    </div>
</div>

{% endblock %}