{% extends 'main/base.html' %}


{%block title%}content{% endblock %}


{% block content %}
<div class="content">
    <h1>{{ blog.title }}</h1>
    <h2>category: {{blog.get_category_display}}</h2>
    <p class="date">published at: {{blog.published_at}}</p>
    <img src="{{blog.image.url}}" />
    <p class="context">{{ blog.content }}</p>
    <div class="bottom_row">
        <a href="{% url 'blog:blog_update_view' blog.id %}" class="blog_icons" > <span class="material-symbols-outlined">update</span>update</a>
        <a href="{% url 'blog:blog_delete_view' blog.id %}"class="blog_icons" > <span class="material-symbols-outlined">delete</span>delete</a>
    </div>
   
</div>

{% endblock %}