{% extends 'main/base.html' %}



{%block title%}POST{% endblock %}


{% block content %}
<div class="add_post">
    <h1>Post blog</h1>
    <div class="froms">
        <form action="{% url 'blog:new_post_view' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" placeholder="enter title" name="title" required>
            <select name="category" >
                {% for val,label in category %}
                    <option value="{{val}}">{{label}}</option>
                {% endfor %}
            </select>
            <textarea name="content" placeholder="content" required></textarea>
            <input type="file" name="image" class="file" required >
            <input type="submit" value="send post" class="btn">
        </form>
    </div>
</div>



{% endblock %}