{% extends 'main/base.html' %}

{% block title %} Create New Blog {% endblock %}

{% block content %}

<div class="create_main">
    <h1 class="phudu">create new Blog !</h1>

    <form style="margin-bottom: 1.5rem;" class="create_info" action="{% url 'blog:create_blog_view' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %} 
        <div>
            <h3>Your Blog Title:</h3>
            <input type="text" name="title" class="title_box"/>
        </div>
    
        <div>
            <h3>Write Your Blog:</h3>
            <textarea name="content" class="blog_box"></textarea>
        </div>

        <div>
            <h3>Upload A Poster If You Want</h3>
            <input type="file" name="poster"/>
        </div>

        <div>
            <h3>Select Category:</h3>
            <select name="category">
                <option value="Tech">Technology</option>
                <option value="Life">Lifestyle</option>
                <option value="Travel">Travel</option>
                <option value="Food">Food</option>
                <option value="Edu">Education</option>
            </select>
        </div>

        <div>
            <h3>Do You Want To Publish It Now?</h3>
            YES
            <input type="radio" name="is_published" value="1" required/>
            NO
            <input type="radio" name="is_published" value="0" required/>
        </div>

        <input type="submit" value="Submit" class="phudu publish"/>
    </form>
</div>

{% endblock %}