{% extends 'main/base.html' %}



{%block title%}HOME{% endblock %}


{% block content %}
    <div class="home">
        {% if blogs %}
        <h1>Search results ({{blogs.count}})</h1>
        <h5>results for : {{request.GET.search}}</h5>
        {% else %}
        <h1>no results found for: "{{request.GET.search}}"</h1>
        {% endif %}
        <div class="blogs">
            {% for blog in blogs %}
            <div class="blog">
                    
                    <img src="{{blog.image.url}}" />
                    <div class="top_row">
                        <a href="{% url 'blog:blog_content_view' blog.id %}"><h2>title: {{blog.title}}</h2></a>
                        <h3>category: {{blog.get_category_display}}</h3>
                    </div>
                    
                    <div class="bottom_row">
                        <p class="date">{{blog.published_at}}</p>
                        <a href="{% url 'blog:blog_update_view' blog.id %}" class="blog_icons" > <span class="material-symbols-outlined">update</span>update</a>
                        <a href="{% url 'blog:blog_delete_view' blog.id %}"class="blog_icons" > <span class="material-symbols-outlined">delete</span>delete</a>
                    </div>
                
            </div>
            {% endfor %}  
        </div>
        
    </div>
    




{% endblock %}