{% extends 'main/base.html' %}



{%block title%}update{% endblock %}


{% block content %}
<div class="add_post">
    <h1>Update {{blog.title}} blog</h1>
    <div class="froms">
        <form action="{% url 'blog:blog_update_view' blog.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" placeholder="enter title" name="title" required value="{{blog.title}}">
        
            <select name="category" >
                {% for val,label in category %}
                    <option {% if blog.category == val %}selected{% endif %} value="{{val}}" >{{label}}</option>
                {% endfor %}
            </select>
            <textarea name="content" placeholder="content" required>{{blog.content}}</textarea>
            <div class="prev_img">
                <img src="{{blog.image.url}}" />
            </div>
            <input type="file" name="image" class="file">
            <input type="submit" value="update post" class="btn">
        </form>
    </div>
</div>



{% endblock %}