<form method="POST" action="{% url 'blog:update_post' post.id %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="{{ post.title }}" required class="form-control">
    </div>
    
    <div class="form-group">
        <label for="content">Content:</label>
        <textarea id="content" name="content" required class="form-control">{{ post.content }}</textarea>
    </div>
    
    <div class="form-group">
        <label for="image">Image:</label>
        <input type="file" id="image" name="image" class="form-control">
    </div>
    
    <div class="form-group">
        <label for="category">Category:</label>
        <select id="category" name="category" class="form-control">
            <option value="Tech" {% if post.category == 'Tech' %}selected{% endif %}>Tech</option>
            <option value="Life" {% if post.category == 'Life' %}selected{% endif %}>Life</option>
            <option value="Food" {% if post.category == 'Food' %}selected{% endif %}>Food</option>
            <option value="Travel" {% if post.category == 'Travel' %}selected{% endif %}>Travel</option>
        </select>
    </div>
    <button type="submit" class="btn btn-info">Update</button>
    <button type="submit" class="btn btn-info">back to Home</button>

</form>