{% extends 'main/base.html' %}

{% block content %}

<hr class="my-8 border-gray-300" />

<div class="container mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mt-8">

  {% for blog in blogs %}
    <div class="bg-white p-6 shadow-lg rounded-lg flex flex-col h-full border border-gray-200 mx-64 ">
        <a href="{% url 'blogs:blog_id' blog.id %}"><h3 class="text-2xl font-semibold text-gray-900 mb-3">{{ blog.title }}</h3></a>
        <li>Publisherimage:<br><img class="w-full" src="{{blog.poster.url}}"></li>

        <p class="text-sm text-gray-500 mb-3">
                <span class="font-semibold">Published on:</span> {{ blog.published_at}}
        </p>
        
        <p class="text-gray-700 text-base mb-4">
            {{ blog.content}}
        </p>
    </div>

        {% endfor %}

</div>

{% endblock %}
