{% extends 'myapp/base.html' %}

{% block title %}Latest Posts{% endblock %}

{% block content %}
<h1>{{post.title}}</h1>
<div class ="row">
    <div class="col">
        <img src="{{ post.poster.url }}" style="width: 300px"/>
        <div class="d-flex justify-content-end">
            <a href="{% url 'myapp:update_view' post.id %}"class="btn btn-primary">update</a>
            <a href="{% url 'myapp:delete_view' post.id %}"class="btn btn-danger">delete</a>
        </div>
        <h2>{{ post.title }}</h2>
        <p class="post-content">{{ post.content }}</p>
        <p class="post-meta"><strong>Published on:</strong> {{ post.published_at|date:"Y-m-d H:i" }}</p>
    </div>
</div>
{% endblock %}