{% extends 'myapp/base.html' %}

{% block content %}

    
    <p><a href="{% url 'myapp:display' %}">View Latest Posts</a></p>

    <!-- Form for adding new posts -->
    <form method="POST" action="{% url 'myapp:update_view' post.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <label for="title">Title:</label>
            <input type="text" name="title" id="title" value="{{post.title}}" required>
        </div>
        <div>
            <label for="content">Content:</label>
            <textarea name="content" id="content" required>{{ post.content }}</textarea> 
        </div>
        <div>
            <label for="is_published">Publish:</label>
            <input type="checkbox" name="is_published" id="is_published" value="{{ post.published_at|date:'Y-m-d H:i' }}">
        </div>
        <div class="row">
            <div class="col-3">
                <img src="{{post.poster.url}}" style="width: 100px" />
            </div>
        </div>
        <div>
            <label for="poster">Image:</label>
            <input type="file" name="poster" id="poster">
        </div>
        
        <!-- <div>
            <label for="published_at">Publish Date:</label>
            <input type="datetime-local" name="published_at" id="published_at" value="{{ current_time }}">
        </div> -->
        <button type="submit">Update Post</button>
    </form>
{% endblock %}
