* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Gamja Flower";
    font-weight: 400;
    font-style: normal;

}
header{
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}
header a img{
    width: 27%;
    position: relative;
    left: 0px;

}
.navbar-right {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.6rem;
}

.navbar-right a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 1.6rem;
}
.link-btn {
    padding: 0 1rem;
    margin: 0 5px;
    border: 2px solid #a0e0df;
    border-radius: 25px;

    font-size: 25px;
    text-decoration: none;

    color: black;
    background-color: #ffba01;
}
.add-btn {
    padding: 0.4rem 0.4rem;
    margin: 0 5px;
    border: 2px solid #ffba01;
    border-radius: 25px;

    font-size: 25px;
    text-decoration: none;

    color: #ffba01;
    background-color: black;
    z-index: 1;

}

.logo-btn {
    padding: 0.4rem 0.4rem;
    margin: 0 5px;
    border: 2px solid #ffba01;
    border-radius: 50%;

    font-size: 25px;
    text-decoration: none;

    color: #ffba01;
    background-color: black;
}

.add-btn:hover, .logo-btn:hover, .link-btn:hover{

    border: 2px solid #a0e0df;
    background-color:white;
    color: black;
    transition: .3s linear;
}

body {
    background-color: #8d9f9f;
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 2rem;
    margin-top: 4rem;
}


/* main content styles */
main {

    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}
form {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    padding: 5rem;
    justify-content: center;
    box-shadow: 7px 7px 3rem -1rem black;
    border-radius: 25px;
    width: 50%;
    align-items: center;
}
.form-title{
    padding-top: 3rem;
    font-size: 3rem;
    font-weight: 600;
}
.form-container{
    display:flex;
    flex-direction: column;
    align-items: center;
}
form input, form textarea, form select{
    padding: 0.6rem;
    margin: 8px;
    border-radius: 20px;
    font-size: 30px;
}
.create-post {
    margin-top: 20px;
    cursor: pointer;
}

.posts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 4rem;
    margin: 0 auto;
    width: 100%;
}

.post-card .post-card-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffffbf;
    color: black;
    border-radius: 1rem;
    width: 20rem;
    height: auto;
    margin: 2rem 3rem;
    box-shadow: 5px 6px 1rem 0rem black;
    position: relative;
    text-decoration: none;


}
.post_image {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}
.post-card .post-title {
    font-size: 2rem;
    font-weight: 600;
    padding: 0;
    margin: 0;
    text-transform: uppercase;

}
.post-card .post-content {
    font-size: 1.5rem;
    padding: 15px;


}
.hr{
    color: black;
    width: 100%;
    padding: 0;
    margin: 0;
}
.post-card .post-publish-date {
    display: flex;
    position: relative;
    bottom: 0;
    left: 0;
    font-size: 1rem;
    color: #565699;


}
.post-card .post-card-link:hover {
    box-shadow: 5px 5px 1.5rem 0rem black;
    transition: 0.1s linear;
}
/* Post Details Page Styles */

main h1 {
    margin: 2rem 5rem;
    font-size: 5rem;
}
.post-details-container {
    display: flex;

    height: 100%;
    background-color: white;
    margin: 5rem;
    padding: 3rem;
    border-radius: 25px;
    box-shadow: 5px 6px 1rem 0rem black;

}
.img-cont{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;

}
.img-cont img{
    width: 70%;
    border-radius: 25px;

}
.publish {
    align-self: start;
    padding: 7px;
}

.data-cont {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 1.5rem;
}

.right-side{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
}
.actions{

    display: inline-flex;
    padding: 10px;
    align-self: end;

}
.actions .cat{
    align-self: center;
    font-size: 25px;
    text-transform: capitalize;
    text-decoration: none;
    color: black;

}
.post-cat{
    font-size: 25px;
        text-transform: capitalize;
}



/* response to page size */
@media(max-width:900px){
    header {
        flex-direction: column;
    }
    form input, form textarea, form select{
        padding: 0.6rem;
        margin: 9px;

        font-size: 20px;
    }
}
@media(max-width:768px){
    form input, form textarea, form select{
        padding: 0.5rem;
        margin: 8px;

        font-size: 20px;
    }
}
@media(max-width:450px){
    form input, form textarea, form select{
        padding: 0.3rem;
        margin: 7px;

        font-size: 15px;
    }
}

/* not found page style */
.not-found-container {
    display:flex;
    flex-direction: row;
    justify-content: center;


}
.top-part{
    display:flex;
    flex-direction: row;
}
.a {
    display:flex;
    flex-direction: column;
    color: #e6a701;


}
.a h1 {
    font-weight: 600;
    font-size: 8rem;
}
.a h3 {
    font-weight: 600;
    font-size: 30px;
}
.not-found-container img {
    padding-top: 3rem;
    width: 40%;
    border-radius: 1rem;
}