/*** header ***/
header {
    background-image: radial-gradient(#4455ff, #3377ff);
}

h1 {
    font-weight: 600;
}

/*** main ***/
.myhero-background-decoration {
    background-image: url('../images/Pngtree_background2.jpg');
    background-color: #d0e9ef;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
    min-height: 50vh;
}

/*** hero section ***/
.myhero-parent {
    margin: 0;
    padding: 0;
}

.myhero-content-container {
    background-color: rgba(208, 233, 239, 0.2);
    backdrop-filter: blur(5px);
    height: 50vh;
}

.myhero-right-container {
    /* this will fill up this right column space 
    of this flex item. and help pushes the left column */
    flex-grow: 1;
}

.myhero-content-decoration {
    position: absolute;
    background-color: #d0e9ef;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


/*** footer ***/
footer {
    background-image: radial-gradient(#4455ff, #3377ff);
}