html, body {
    height: 100%; 
    margin: 0;
    font-family: "New Amsterdam", sans-serif;
}

body {
    display: flex;
    flex-direction: column; 
}

main {
    flex: 1; 
    margin: 40px;
}

header {
    background-color: #cbd2a4; 
    padding: 100px 60px; 
    text-align: center;
    margin-bottom: 40px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto; 
}

.blog-title {
    margin: 0;
}

nav ul {
    padding: 0;
    font-size: 25px;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

.header-image {
    position: relative;
    height: 150px;
}

.header-image img {
    width: 90%;
    height: 180%; 
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.container {
    margin-top: 40px; 
}
.note-card {
    background-color: #fff; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    padding: 20px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s;
}

.note-card:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
}

.card-text {
    
    flex-grow: 1; 
}

