* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #faf7f2;
  color: #504134;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Header */
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 40px 40px 60px 40px;
  justify-content: space-around;
  gap: 50px;
  margin-top: 20px;
}

#logo {
  width: 40px;
}

.nav-mid {
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-left: 80px;
  text-align: center;
}

.nav-mid a {
  margin: 0 15px;
  text-decoration: none;
  color: #4b3d36;
  font-weight: bold;
  font-size: 18px;
  align-content: center;
  transition: color 0.5s ease, transform 1.5s ease;
}

.nav-mid a:hover {
  color: white;
  transform: scale(1.15);
}

.nav-last {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.nav-last a {
  text-decoration: none;
  color: #4b3d36;
  font-weight: bold;
  font-size: 18px;
  align-content: center;
  margin-right: 10px;
  transition: color 0.5s ease, transform 1.5s ease;
}

.nav-last a:hover {
  color: white;
  transform: scale(1.15);
}

.material-symbols-outlined {
  color: #4b3d36;
  background-color: #f2ebe0;
  border-radius: 50%;
  font-weight: bold;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  padding: 10px;
  margin-left: 10px;
}

.nav-last .new-post-button {
  padding: 10px 40px;
  font-size: 14px;
  border-radius: 20px;
  color: #4b3d36;
  background-color: #f2ebe0;
  text-align: center;
  border: none;
  cursor: pointer;

}

/* Welcome Section */

.welcome-section {
  display: flex;
  justify-content: space-between;
  padding: 60px;
  align-items: center;
  gap: 10px;
}

.welcome-text {
  max-width: 50%;
}

.animated-text {
  font-size: 70px;
  font-weight: bold;
  line-height: 1.2;
  color: #4b3d36;
  animation: fadeInText 2s ease-in-out;
}

.subtext {
  font-size: 40px;
  color: #504134;
  margin-top: 20px;
  margin-left: 200px;
  animation: fadeInText 2s ease-in-out;
}

.welcome-image-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-background {
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: #f2ebe0;
  border-radius: 50%;
  z-index: -1;
  right: 80px;
}

.welcome-image {
  max-width: 400px;
  border-radius: 50%;
  object-fit: cover;
}

/* Article Section */
.article-section {
  padding: 60px;
  text-align: left;
  justify-content: left;
  margin-top: 20px;
}

.all-articale {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: first baseline;
}

.all-articale a {
  text-decoration: none;
  color: #4b3d36;
  transition: color 0.5s ease, transform 1.5s ease;
}

.all-articale a:hover {
  color: #7d6e55;
}

.article-section h2 {
  font-size: 36px;
  font-weight: bold;
  color: #4b3d36;
  margin-bottom: 20px;
  gap: 20px;
}

.material-symbols-outlined {
  color: #4b3d36;
  border-radius: 50%;
  font-weight: bold;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  padding: 10px;
}

.article-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 30px;
  margin-top: 40px;
  align-items: center;
}

.article-card {
  max-height: fit-content;
  flex: 0 0 250px;
  background-color: #f2ebe0;
  border-radius: 10px;
  padding: 20px;
  text-align: left;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.article-card a {
  text-decoration: none;
  color: #4b3d36;
}

.article-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.article-date {
  font-size: 12px;
  color: #a19885;
  margin-bottom: 5px;
}

.article-title {
  font-size: 18px;
  font-weight: bold;
  color: #4b3d36;
  margin-bottom: 5px;
  text-decoration: none;
}

.article-description {
  font-size: 14px;
  color: #504134;
  text-align: justify;
}

/* Animations */
@keyframes fadeInText {
  from {
    opacity: 0;
  }
  to {
    opacity: 5;
  }
}

/* All Article Section */
.all-articale-page {
  max-width: 95%;
  margin: 0 auto;
  padding: 30px 20px;
  border-bottom: 1px solid #d6cbb3;
}

.article-grid-all {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 30px;
  margin-top: 40px;
  margin-left: 30px;
  margin-right: 30px;
  align-items: center;
  margin-bottom: 60px;
}

.article-card-all {
  max-height: fit-content;
  flex: 0 0 250px;
  background-color: #f2ebe0;
  border-radius: 10px;
  padding: 20px;
  text-align: left;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.article-card-all a {
  text-decoration: none;
  color: #4b3d36;
}

.article-image-all {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.all-articale-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 10px;
}

.article-date-all {
  font-size: 12px;
  color: #a19885;
  margin-bottom: 5px;
}

.article-title-all {
  font-size: 18px;
  font-weight: bold;
  color: #4b3d36;
  margin-bottom: 5px;
  text-decoration: none;
}

.article-category-all {
  position: absolute;
  right: 5px;
  font-size: 12px;
  font-weight: lighter;
  color: #ffffff;
  background-color: #4b3d36;
  padding: 4px 10px;
  border-radius: 15px;
  text-align: center;
}

/* Form Section */
.form-section {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px;
  text-align: left;
}

.form-section h2 {
  font-size: 28px;
  color: #4b3d36;
  margin-bottom: 20px;
}

form label {
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: #4b3d36;
  margin-top: 20px;
  margin-bottom: 8px;
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #d6cbb3;
  border-radius: 8px;
  outline: none;
  margin-bottom: 20px;
  background-color: #faf7f2;
}

.form-textarea {
  height: 150px;
  resize: none;
}

/* File Upload Section */
.file-upload {
  display: flex;
  align-items: center;
  justify-items: center;
  position: relative;
  gap: 30px;
}

.file-input {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.upload-icon {
  font-size: 28px;
  color: #4b3d36;
  cursor: pointer;
  position: relative;
  margin-left: 5px;
}

/* Submit Button */
.submit-button {
  display: block;
  width: 50%;
  justify-content: center;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #4b3d36;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  text-align: center;
  margin: 20px auto 0;
  margin-top: 20px;
}

/* Main title */
.detail-title {
  font-size: 32px;
  font-weight: bold;
  color: #4b3d36;
  text-align: center;
  margin-top: 20px;
  margin-left: 220px;
  padding: 0px;
  margin-bottom: 50px;
  text-align: left;
}

/* Detail Post container */

.detail-post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f2ebe0;
  border-radius: 8px;
  max-width: 1000px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 60px;
}

.detail-img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin: 20px 0;
  align-items: center;
}

.detail-article-date {
  font-size: 14px;
  color: #a19885;
  margin-bottom: 20px;
  margin-left: 20px;
  text-align: left;
}

.detail-article-content {
  font-size: 18px;
  line-height: 1.6;
  color: #333;
  text-align: justify;
  margin-bottom: 30px;
  padding: 0 20px;
}

/* Button container */
.button-container {
  display: flex;
  gap: 20px;
  justify-content: center;
}

/* Buttons */
.btn-primary {
  background-color: #4b3d36;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 30px;
  text-decoration: none;
}

.btn-primary:hover {
  background-color: #7d6e55;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 30px;
  text-decoration: none;
}

.btn-danger:hover {
  background-color: #c82333;
}

.success-message-container {
  text-align: center;
  margin: 50px auto;
  padding: 30px;
  max-width: 600px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.success-message-container h1 {
  font-size: 28px;
  color: #4b3d36;
  margin-bottom: 10px;
}

.success-message-container p {
  font-size: 18px;
  color: #333;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.button-container .btn-primary {
  background-color: #4b3d36;
  color: #fff;
  padding: 10px 20px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 14px;
}

.button-container .btn-secondary {
  background-color: #4b3d36;
  color: #fff;
  padding: 10px 20px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 14px;
}

.button-container .btn-primary:hover {
  background-color: #7d6e55;
}

.button-container .btn-secondary:hover {
  background-color: #7d6e55;
}

/* Footer */
footer {
  text-align: center;
  padding: 10px;
  background-color: #faf7f2;
  color: #504134;
  position: fixed;
  border-top: 1px solid #d6cbb3;
  width: 100%;
  bottom: 0;
}

/* Page Not Found */

.not-found-container {
  text-align: center;
  margin: 50px auto;
  padding: 30px;
  max-width: 600px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.not-found-container h1 {
  font-size: 28px;
  color: #4b3d36;
  margin-bottom: 10px;
}

.not-found-container p {
  font-size: 16px;
  color: #333;
  margin-bottom: 30px;
}

.not-found-container .btn-primary {
  background-color: #4b3d36;
  color: #fff;
  padding: 10px 20px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 14px;
}

.not-found-container .btn-primary:hover {
  background-color: #7d6e55;
}

.article-card {
  position: relative;
}

/* Category Label Styling */
.article-category {
  position: absolute;
  right: 20px;
  bottom: 40px;
  font-size: 12px;
  font-weight: lighter;
  color: #ffffff;
  background-color: #4b3d36;
  padding: 4px 10px;
  border-radius: 15px;
  text-align: center;
  margin-bottom: 8px;
}

.date-catg-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.detail-article-category {
  position: absolute;
  font-size: 12px;
  font-weight: lighter;
  color: #ffffff;
  background-color: #4b3d36;
  padding: 4px 10px;
  border-radius: 15px;
  text-align: center;
  margin-bottom: 8px;
  margin-left: 380px;
}

.update-ima {
  width: 100px;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-form input[type="search"] {
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #d6cbb3;
  border-radius: 20px;
  outline: none;
}

.search-form .search-button {
  padding: 8px 12px;
  margin-left: px;
  font-size: 14px;
  color: #ffffff;
  background-color: #4b3d36;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.search-form .search-button:hover {
  background-color: #7d6e55;
}

.search-articale-page{
  display: flex;
  flex-direction: column;
  padding: 30px 40px;
  gap: 20px;

}

.search-articale-page h5{ 
  padding: 10px 5px;
}

.not-found{
  padding: 30px 40px;
  font-weight: normal;
}


/* Dynamic Colors for Categories 
.article-category[data-category="TECH"], .detail-article-category[data-category="TECH"] {
  background-color: #007bff; /* Blue for Technology 
}

.article-category[data-category="BUS"], .detail-article-category[data-category="BUS"] {
  background-color: #28a745; /* Green for Business 
}

.article-category[data-category="LIFE"], .detail-article-category[data-category="LIFE"] {
  background-color: #ff6347; /* Tomato for Lifestyle 
}

.article-category[data-category="EDU"], .detail-article-category[data-category="EDU"] {
  background-color: #ffc107; /* Yellow for Education
}

.article-category[data-category="HEALTH"], .detail-article-category[data-category="HEALTH"] {
  background-color: #dc3545; /* Red for Health 
}

.article-category[data-category="ENT"], .detail-article-category[data-category="ENT"] {
  background-color: #6f42c1; /* Purple for Entertainment 
}
*/
