{% extends 'main/base.html' %}
{% load static %}
{% block content %}

        <h1 class="text-center mb-4 fade-in">Create Post</h1> 
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6 slide-in-left">
                <form class="d-flex flex-column gap-3" action="{% url 'posts:create_post_view' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="text" placeholder="Title" name="title" class="form-control" required />
                    <textarea placeholder="Content" name="content" class="form-control" rows="4" required></textarea>
                    <!-- Category Dropdown Field -->
            <select name="category" class="form-control" required>
                <option value="" disabled selected>Select Category</option>
                <option value="tech">Technology</option>
                <option value="life">Lifestyle</option>
                <option value="edu">Education</option>
                <option value="news">News</option>
                <option value="sports">Sports</option>
            </select>
                    <input type="file" name="poster" class="form-control"/>
                    <div class="form-check">
                        <input type="checkbox" name="is_published" id="is_published" class="form-check-input" checked>
                        <label for="is_published" class="form-check-label">Publish?</label>
                    </div>
                    <input type="submit" value="Create Post" class="btn btn-primary btn-block" />
                </form>
            </div>
            <div class="col-md-6 text-center mb-4 slide-in-right">
                <img src="{% static 'images/blog.jpg' %}" alt="Create Blog" class="img-fluid rounded" style="max-height: 300px; width: 100%; object-fit: cover;">
            </div>
        </div>

{% endblock %}
