{% extends 'main/base.html'%}
{%load static%}
{% block head %}
 <link href="{%static 'css/posts.css'%}" rel="stylesheet"/>
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endblock%}
{% block title %}<title>Blog | Details</title>{% endblock%}
{% block content %} 
    
    <div class="col d-flex flex-column justify-content-center">
      <h1 class="mt-5 mb-4 rochester-regular ">{{post.title}}</h1>
      <div class="postimg-container">
        <img src="{{post.poster.url}}" />
      </div>
      
        <div class="d-flex justify-content-between mt-3">
          <div class="col-3 d-flex flex-column pt-2 postinfo-container justify-content-between justify-items-center">
            
            <div>
            <h6 class="d-flex justify-content-start align-items-center">
              {% if post.is_published %}
                <i class="fa-solid fa-circle" style="color: green;"></i> Post Status: Published
              {% else %}
                <i class="fa-solid fa-circle" style="color: red;"></i> Post Status: Not Published
              {% endif %}
            </h6>
            <h6 class="d-flex justify-content-start align-items-center"><span class="material-symbols-outlined">category</span> Post Category: {{post.category}}</h6>
            <h6 class="d-flex justify-content-start align-items-center"><span class="material-symbols-outlined">today</span> Published At: {{post.published_at}}</h6>
            </div>

            <div class="d-flex justify-content-center flex-grow postbuttons-container mt-5 mb-3">
              <a href="{%url 'posts:post_update_view' post.id%}" class="btn btn-success">Update</a>
              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">Delete</button>
            </div>

          </div>
          <div class="postcontent-container mb-2">
              <strong>{{post.content}}</strong>
          </div>     
        </div>
        

    </div>

    <!-- Button trigger modal -->  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete Post</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete "{{post.title}}" post?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <a href="{%url 'posts:post_delete_view' post.id%}" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
  </div>
  
    {% endblock%}
    {%block script%} 
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {%endblock%}