<!doctype html>
<html lang="en">
<head>

    <title>Document</title>
    <style>
        .card-title{

        }
        @keyframes animate
    </style>
</head>
<body>
<div class="container">
    <div class="post-card">
        <img src="">
        <h2 class="card-title">HmzH</h2>
        <p class="card-content">HmzH is my name HmzH is my name HmzH is my name HmzH is my name HmzH is my nameHmzH is my name</p>
        <a href="/" class="card-button">Read more</a>

    </div>
</div>
</body>
</html>


