.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
   
}

.img-side{
    width: 50%;
    height: auto;

}
.img-side img{
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
}

.form-side{
    display: flex;
    flex-direction: column;
    width:110vh;
    row-gap: 1rem;
    margin: 2rem;
    
}

.form-side h1{
    font-size: 3rem;
    text-align: center;
}

.form-side form{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    flex-grow: 1;
}


.postimg-container{
    width: 100%; 
    height: 50vh; 
    overflow: hidden;
}

.postimg-container img{
    width: 100%;  
    height: 100%; 
    object-fit: cover;
    border-radius: 10px;
}

.postcontent-container strong{
    border-left: 2px solid green;
    height: 80px;
    padding-left: 1rem;
    font-weight: 400;

}

.postinfo-container{
    row-gap: 1rem;
}
.postinfo-container h6{
    font-size:0.8rem;
    gap: 1rem;
}

.postinfo-container h6 span{
    color: rgb(0, 71, 0);
}

.postinfo-container h6 span,i{
    font-size: 1rem;
}

.postbuttons-container{
    gap: 2rem;
}

